:root {
  --color-primary: #000;
  --color-primary-hover: #000;

  --color-secondary: #000;
  --color-secondary-hover: #000;

  --color-accent: #000;

  --color-background: #fff;
  --color-surface: #fff;
  --color-surface-alt: #f5f5f5;

  --color-text: #000;
  --color-text-muted: #666;

  --color-border: #ddd;
}
